.vscode/**
.git/**
.github
.gitignore
.husky/**
.npmrc
*.vsix
src/**
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.tsbuildinfo
test/**
testFixture/**
**/node_modules/**
eslint.config.mjs
.prettierrc
.prettierignore
package-lock.json
!out/extension.js
